{% block body %}
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>diplomka.com.ua</span></strong>. All Rights Reserved
        </div>
    </footer>
{% endblock %}
