.profile-card, .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.social-links .social-btn {
    color: #8094b7;
    margin: 0 5px;
    transition: color 0.3s;
    font-size: 1.5rem;
}

.social-links .social-btn:hover {
    color: #495057;
}

.profile-edit-img {
    width: 100px;
    height: 100px;
}

.btn-primary, .btn-danger {
    margin: 0 5px;
    padding: 0.25rem 0.5rem;
}

.col-form-label {
    color: #677fa9;
}

.col-lg-4 {
    color: #677fa9;
    font-size: 16px;
}

.order-btn {
    display: block; !important;
    background-color: white;
    color: #007bff;
    border: 1px solid #ccc;
    padding: 6px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.password-btn {
    display: block; !important;
    background-color: white;
    color: red;
    border: 1px solid #ccc;
    padding: 6px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.order-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    color: white;
}

.password-btn:hover {
    background-color: red;
    transform: scale(1.05);
    color: white;
}

@media (max-width: 576px) {
    .nav-tabs .nav-link {
        font-size: 14px;
        padding: 6px 8px;
    }
}